#splash_fangerne {

    height: 40vw;
    width: 100%;
    background-image: url(img/fangerneny.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 1.2em;
    padding-left: 10vw;
    padding-top: 5vw;
    margin-bottom: 2vw;
}


#tekst_fangerne {
    margin-bottom: 15vw;
    margin-top: 10vw;
}

h2 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 1em;
    padding-left: 10vw;
    padding-top: 5vw;
    margin-bottom: 2vw;
}

#tekst_fangerne p {
    padding-left: 10vw;
    padding-right: 8vw;
    max-width: 90vw;
}

footer {
    margin-top: 5vw;
}

li {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-right: 8vw;
    padding-top: 1vw;

}

ul {
    margin-left: 3vw;
}

@media only screen and (min-width:650px) {

    #splash_fangerne {
        height: 35vw;
    }
}


@media only screen and (min-width:750px) {

    h1 {
        margin-bottom: 1vw;
    }

    #tekst_fangerne {
        margin-top: 3vw;
    }
}

@media only screen and (min-width:850px) {

    h1 {
        padding-top: 5vw;
    }
}


@media only screen and (min-width:1100px) {

    #splash_fangerne {
        height: 29vw;
        background-position: 20%;
    }

    #tekst_fangerne p {

        max-width: 70vw;
    }


}
