/*GENEREL STYLING.......*/
* {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

p {
  font-family: montserrat, sans-serif;

  font-weight: 300;

  font-style: normal;
  line-height: 1.5;
}

img {
  width: 100%;
}

header nav a:link {
  text-decoration: none;
}

header nav a:visited {
  text-decoration: none;
}

/*STYLING AF MENU........*/

.dropbtn {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #2878b1;
  text-decoration: none;
  margin-top: 3vw;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.8em;
  padding-bottom: 2vw;
}

.dropdown-content a {
  color: black;
  padding-right: 5vw;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #313131;
  text-decoration: underline;
}

#sectionwrapper {
  display: none;
}

#menu {
  display: flex;

  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  height: 9vw;
  padding-left: 8vw;
  padding-right: 8vw;
}

/*
#wrap {
    margin: 0% 10%;
}
*/

#menupunkter {
  display: flex;
  justify-content: space-between;
}

#menupunkter a {
  padding-left: 4vw;
  margin-top: 5vw;
}

#menupunkter .punkt:hover {
  color: #313131;
  text-decoration: underline;
}

#menupunkter div:hover {
  text-decoration: none;
}

#menu a {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  color: #2878b1;
  text-decoration: none;
  margin-top: 3vw;
}

#menu .logo {
  height: 4vw;
  width: 10vw;
  background-image: url(img/adventure_sort_logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.5vw;
  cursor: pointer;
  margin-top: 0;
  top: -1vw;
  position: relative;
}

.lokationer_button {
  height: 4vw;
  width: 12vw;
  background-color: white;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 450;
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  color: black;
  font-size: 0.7em;
  position: relative;
  margin-left: 8vw;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.skriv_header {
  height: 3.5vw;
  width: 12vw;
  background-color: #2878b1;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 450;
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  color: white;
  font-size: 0.7em;
  position: relative;
  margin-left: 4vw;
  transition: 0.5s;
}

#aktiv_forside a:hover {
  transform: scale(1.1);
}

#aktiv_forside a {
  transition: 0.5s;
}

.lokationer_button:hover {
  background: #a5a5a5;
  transform: scale(1.1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.skriv_header:hover {
  background: #a5a5a5;
  transform: scale(1.1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

/*BURGERMENU STYLING.......*/
.hidden {
  transform: scale(0);
  display: none;
  transform: translateX(-100%);
  opacity: 0;
}

#burger {
  height: 100vw;
  background-color: #f5f4ec;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100vw;
  z-index: 100;
  list-style: none;
  padding-top: 11vw;
}

#burger a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-family: montserrat, sans-serif;

  font-weight: 300;

  font-style: normal;
  text-align: center;
}

#burger li {
  padding-top: 2vw;
  padding-bottom: 5vw;
  padding-left: 7vw;
}

#menuknap {
  font-size: 2.4em;
  color: #2878b1;
}

.logo_m {
  height: 12vw;
  width: 22vw;
  background-image: url(img/adventure_sort_logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2vw;
}

#header_mobil {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding-left: 8vw;
  padding-right: 8vw;
  margin-bottom: 0.5vw;
  height: 15vw;
}

#menuknapluk {
  font-size: 3em;
  color: white;
  font-family: gopher, sans-serif;
  font-style: normal;
  font-weight: 100;
  padding-left: 8vw;
}

#burger {
  height: 200vw;
  background-color: #2878b1;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100vw;
  z-index: 100;
  list-style: none;
  padding-top: 11vw;
}

#burger a {
  color: WHITE;
  text-decoration: none;
  font-size: 1.5em;
  font-family: montserrat, sans-serif;

  font-weight: 300;

  font-style: normal;
  text-align: center;
}

#burger li {
  padding-top: 2vw;
  padding-bottom: 5vw;
  padding-left: 7vw;
}

#burger #burger_ekstra {
  font-size: 0.7em;
}

#burger > li:nth-child(3) {
  padding-bottom: 3vw;
}

#burger #burger_ekstra li {
  padding-top: 0;
  padding-bottom: 2vw;
}

.slideshow-container img {
  height: 50vw;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

#forside_splash {
  height: 53vw;
  width: 100%;
  background-image: url(img/bue.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 4px 5px rgba(57, 63, 72, 0.3);
}

#tekst_forside1 {
  background-color: #2878b1;
  color: white;
  height: 75vw;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

#tekst_forside1 p {
  line-height: 1.5;
  padding-left: 10vw;
}

.tekst_forneden p {
  padding-top: 3vw;
  line-height: 1.4;
  padding-bottom: 3vw;
  font-size: 0.9em;
}

.velkommen {
  font-size: 1.05em;
  padding-top: 3vw;
}

.adventure {
  font-size: 1.3em;
  font-weight: 500;
  padding-bottom: 1vw;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 5vw;
  margin-right: 15vw;
  border-style: inset;
  border-width: 1px;
}

/*Styling af aktiviteter på forsiden*/

#aktiv_forside h1 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 1.2em;
  padding-left: 10vw;
  padding-top: 3vw;
}

figure figcaption {
  text-decoration: none;
  padding-top: 3vw;
}

#ikoner a {
  text-decoration: none;
}

.syv {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/7aktiviteter_ikon.jpg);
  background-size: contain;
}

.tvekamp {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/tvekamp_ikon.jpg);
  background-size: contain;
}

.tikamp {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/10aktiviteter_ikon.jpg);
  background-size: contain;
}

.fangerne {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/_ikon.jpg);
  background-size: contain;
}

/*
#ikoner > div.et > figure > figcaption,
#ikoner > div.to > figure:nth-child(1) > figcaption,
#ikoner > div.to > figure:nth-child(2) > figcaption,
#ikoner > div.to > figure:nth-child(3) > figcaption,
#ikoner > div.to > figure:nth-child(4) > figcaption {
    text-align: center;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 0.7em;
    margin-top: 3vw;
    color: #2878B1;
}
*/

#ikoner a {
  text-align: center;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 0.7em;
  margin-top: 3vw;
  color: #2878b1;
}

figure {
  height: 25vw;
  width: 19vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.medarbejder {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/Aretsmedarbejder_ikon.jpg);
  background-size: contain;
}

.casino {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/Casino_ikon.jpg);
  background-size: contain;
}

.stratego {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/Stratego_ikon.jpg);
  background-size: contain;
}

.race {
  height: 18vw;
  width: 18vw;
  background-image: url(img/ikoner/Adventurerace_ikon.jpg);
  background-size: contain;
}

#ikoner {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
}

.et {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
  margin: 0% 7%;
}

.to {
  display: flex;
  justify-content: space-between;
  margin: 0% 7%;
}

#billedemtekst_forside {
  height: 40vw;
  width: 100%;
  background-image: url(img/girls.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15vw;
}

.tekst_forside {
  height: 12vw;
  width: 64vw;
  position: relative;
  top: 24vw;
  background-color: rgba(69, 69, 69, 0.86);
  font-size: 0.7em;
  color: white;
  padding-top: 2vw;
}

#forside_tekst2 {
  width: 100%;
  background-color: #2878b1;
  color: white;
}

#forside_tekst2 p {
  padding: 35px;
  padding-left: 10vw;
  line-height: 1.8;
  font-size: 0.8em;
}

#billede_forside2 {
  display: none;
  height: 29vw;
  width: 100%;
  background-image: url(img/billedemedarb.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  width: cover;
  background-color: #3b3a3a;
  color: white;
  font-size: 0.7em;
  display: flex;
  padding-top: 7vw;
  height: 35vw;
}

footer p {
  padding-left: 10vw;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 450;
  padding-top: 4vw;
}

.insta {
  height: 8vw;
  width: 8vw;
  background-image: url(img/1x/insta_ikon.png);
  background-size: contain;
}

#billedemtekst_forside p {
  padding-left: 10vw;
}

.face {
  height: 8vw;
  width: 8vw;
  background-image: url(img/1x/face_ikon.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: 1s;
}

.some {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  margin-left: 20vw;
  padding-top: 8vw;
  cursor: pointer;
}

.face:hover {
  transform: scale(1.2);
}

.insta:hover {
  transform: scale(1.2);
}

.mail {
  margin-top: 2vw;
}

/*MEDIAQUERIES.......*/
@media only screen and (min-width: 400px) {
  hr {
    margin-right: 36vw;
  }

  .slideshow-container {
    height: 45vw;
  }

  .slideshow-container img {
    height: 45vw;
  }

  #tekst_forside1 {
    margin-top: 6vw;
    height: 65vw;
  }

  .some {
    margin-left: 25vw;
  }
}

@media only screen and (min-width: 450px) {
  hr {
    margin-right: 43vw;
  }

  #tekst_forside1 {
    height: 60vw;
  }

  footer {
    height: 25vw;
    padding-top: 0;
  }
}

@media only screen and (min-width: 500px) {
  #menuknap {
    font-size: 3em;
  }

  hr {
    margin-right: 48vw;
  }

  footer {
    height: 25vw;
    padding-top: 4vw;
  }

  footer p {
    padding-top: 2vw;
  }

  .some {
    padding-top: 4vw;
    width: 15vw;
  }

  footer .face {
    height: 5vw;
    width: 5vw;
  }

  .insta {
    height: 5vw;
    width: 5vw;
  }

  #tekst_forside1 {
    height: 56vw;
  }

  .some {
    margin-left: 35vw;
  }
}

@media only screen and (min-width: 550px) {
  .tekst_forside p {
    font-size: 1.4em;
  }

  #tekst_forside1 {
    height: 52vw;
  }
}

.tekst_forside @media only screen and (min-width:590px) {
  hr {
    margin-right: 52vw;
  }

  #tekst_forside1 {
    height: 54vw;
  }
}

@media only screen and (min-width: 600px) {
  #menuknap {
    margin-top: 2vw;
  }

  .tekst_forside {
    width: 50vw;
  }

  #tekst_forside1 {
    height: 48vw;
  }

  .some {
    margin-left: 42vw;
  }

  footer {
    height: 20vw;
  }
}

@media only screen and (min-width: 650px) {
  #ikoner {
    margin-top: 0;
  }

  #tekst_forside1 {
    margin-top: 0;
  }

  .face {
    height: 5vw;
    width: 5vw;
  }

  footer {
    height: 20vw;
  }

  footer p {
    padding-top: 0vw;
  }

  .some {
    padding-top: 1vw;
  }

  .insta {
    height: 5vw;
    width: 5vw;
  }

  #sectionwrapper {
    display: block;
  }

  hr {
    margin-right: 7vw;
    margin-left: 3vw;
  }

  .tekst_forneden p {
    padding: 1vw;
  }

  #tekst_forside1 p {
    padding-left: 3vw;
  }

  .velkommen {
    margin-top: 3vw;
  }

  .tekst_forside {
    top: 26vw;
    height: 10vw;
  }

  #header_mobil {
    display: none;
  }

  #con_forside1 {
    display: flex;
    flex-direction: row-reverse;
  }

  .slideshow-container {
    width: 100%;
    height: 45vw;
  }

  .slideshow-container img {
    width: 100%;
    height: 45vw;
  }

  #tekst_forside1 {
    width: 100%;
    height: 45vw;
  }

  #forside_tekst2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2vw;
  }

  .tekst_forside p {
    padding-top: 0;
  }

  #tekst2 {
    height: 30vw;
  }

  .syv {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/7aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .tvekamp {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/tvekamp_ikon.jpg);
    background-size: contain;
  }

  .tikamp {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/10aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .fangerne {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/_ikon.jpg);
    background-size: contain;
  }

  .medarbejder {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/Aretsmedarbejder_ikon.jpg);
    background-size: contain;
  }

  .casino {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/Casino_ikon.jpg);
    background-size: contain;
  }

  .stratego {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/Stratego_ikon.jpg);
    background-size: contain;
  }

  .race {
    height: 15vw;
    width: 15vw;
    background-image: url(img/ikoner/Adventurerace_ikon.jpg);
    background-size: contain;
  }

  figure {
    height: 15vw;
    width: 15vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  #aktiv_forside h1 {
    margin-top: 5vw;
  }
}

@media only screen and (min-width: 700px) {
  #forside_tekst2 {
    height: 23vw;
  }

  .et {
    margin: 0% 7%;
    padding-left: 0;
    padding-right: 0;
  }

  .to {
    margin: 0% 7%;
    padding-left: 0;
    padding-right: 0;
  }

  .some {
    margin-left: 47vw;
  }
}

@media only screen and (min-width: 750px) {
  footer {
    height: 15vw;
    padding-top: 4vw;
  }

  footer p {
    margin-top: 0vw;
  }

  .some {
    padding-top: 0;
    width: 10vw;
    margin-left: 52vw;
  }

  footer .face {
    height: 4vw;
    width: 4vw;
  }

  .insta {
    height: 4vw;
    width: 4vw;
  }
}

@media only screen and (min-width: 790px) {
  #sectionwrapper {
    display: block;
  }

  #billede_forside2 {
    display: block;
  }

  hr {
    margin-right: 8vw;
    margin-left: 5vw;
  }

  #tekst_forside1 p {
    padding-left: 8vw;
    margin-top: 1vw;
  }

  #forside_tekst2 {
    height: 29vw;
  }

  #forside_tekst2 p {
    padding-left: 2vw;
    padding-top: 8vw;
  }
}

@media only screen and (min-width: 800px) {
  .slideshow-container {
    width: 55vw;
    height: 40vw;
  }

  .slideshow-container img {
    width: 55vw;
    height: 40vw;
  }

  #tekst_forside1 {
    width: 45vw;
    height: 40vw;
  }

  .syv {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/7aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .tvekamp {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/tvekamp_ikon.jpg);
    background-size: contain;
  }

  .tikamp {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/10aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .fangerne {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/_ikon.jpg);
    background-size: contain;
  }

  .medarbejder {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/Aretsmedarbejder_ikon.jpg);
    background-size: contain;
  }

  .casino {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/Casino_ikon.jpg);
    background-size: contain;
  }

  .stratego {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/Stratego_ikon.jpg);
    background-size: contain;
  }

  .race {
    height: 14vw;
    width: 14vw;
    background-image: url(img/ikoner/Adventurerace_ikon.jpg);
    background-size: contain;
  }

  figure {
    height: 14vw;
    width: 14vw;
    margin-top: 2vw;
  }

  .lokationer_button {
    margin-left: 2vw;
    height: 5vw;
  }
}

@media only screen and (min-width: 850px) {
  #sectionwrapper {
    display: block;
  }

  hr {
    margin-right: 10vw;
    margin-left: 5vw;
  }

  #tekst_forside1 p {
    padding-left: 8vw;
    margin-top: 1vw;
  }

  .some {
    margin-left: 56vw;
  }
}

@media only screen and (min-width: 900px) {
  .slideshow-container {
    width: 55vw;
    height: 35vw;
  }

  .slideshow-container img {
    width: 55vw;
    height: 35vw;
  }

  #tekst_forside1 {
    width: 45vw;
    height: 35vw;
  }

  #tekst_forside1 .velkommen {
    margin-top: 0;
    padding-top: 3vw;
  }

  .et {
    padding-left: 0;
  }

  .to {
    padding-left: 0;
  }

  .syv {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/7aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .tvekamp {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/tvekamp_ikon.jpg);
    background-size: contain;
  }

  .tikamp {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/10aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .fangerne {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/_ikon.jpg);
    background-size: contain;
  }

  .medarbejder {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/Aretsmedarbejder_ikon.jpg);
    background-size: contain;
  }

  .casino {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/Casino_ikon.jpg);
    background-size: contain;
  }

  .stratego {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/Stratego_ikon.jpg);
    background-size: contain;
  }

  .race {
    height: 13vw;
    width: 13vw;
    background-image: url(img/ikoner/Adventurerace_ikon.jpg);
    background-size: contain;
  }

  figure {
    height: 13vw;
    width: 13vw;
    margin-top: 2vw;
  }

  figure figcaption {
    padding-top: 1.3vw;
    font-size: 1.2em;
  }

  #billedemtekst_forside {
    height: 36vw;
  }

  .tekst_forside {
    top: 26vw;
    padding-right: 25px;
    height: 10vw;
  }

  .tekst_forside p {
    font-size: 1.49em;
  }

  #forside_tekst2 p {
    font-size: 1em;
  }

  footer .face {
    height: 3vw;
    width: 3vw;
  }

  footer .insta {
    height: 3vw;
    width: 3vw;
  }

  .some {
    width: 9vw;
    margin-left: 58vw;
  }

  #billedemtekst_forside {
    height: 28vw;
    background-size: cover;
    margin-top: 7vw;
  }

  #billedemtekst_forside p {
    padding-left: 7vw;
    font-size: 1.3em;
  }

  .tekst_forside {
    top: 21vw;
    padding-right: 25px;
    height: 7vw;
    width: 40vw;
  }

  #forside_tekst2 p {
    padding-right: 7vw;
  }
}

@media only screen and (min-width: 1000px) {
  .slideshow-container {
    width: 55vw;
    height: 35vw;
  }

  #menu .logo {
    margin-left: 0vw;
    height: 5vw;
    width: 8vw;
  }

  hr {
    margin-right: 14vw;
    margin-left: 6vw;
  }

  footer {
    height: 12vw;
  }

  .slideshow-container img {
    width: 55vw;
    height: 35vw;
  }

  #tekst_forside1 {
    width: 45vw;
    height: 35vw;
  }

  #tekst_forside1 .velkommen {
    margin-top: 0;
    padding-top: 3vw;
    padding-bottom: 0vw;
  }

  #aktiv_forside h1 {
    margin-top: 0;
  }

  #menu {
    height: 7vw;
  }

  .lokationer_button {
    height: 3.5vw;
    width: 9vw;
    margin-top: 0.3vw;
    padding-top: 1vw;
    background-color: white;
  }

  .skriv_header {
    height: 3.5vw;
    width: 9vw;
    margin-top: 0.3vw;
    padding-top: 1vw;
  }

  .some {
    margin-left: 60vw;
  }
}

@media only screen and (min-width: 1100px) {
  .slideshow-container {
    width: 55vw;
    height: 32vw;
  }

  .tekst_forside p {
    font-size: 1.6em;
  }

  hr {
    margin-left: 7vw;
    margin-right: 17vw;
  }

  #tekst_forside1 .adventure {
    padding-top: 0;
  }

  .slideshow-container img {
    width: 55vw;
    height: 32vw;
  }

  .adventure {
    padding-top: 0;
    margin-top: 0;
  }

  #tekst_forside1 {
    width: 45vw;
    height: 32vw;
  }

  #tekst_forside1 p {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  #billedemtekst_forside {
    margin-top: 5vw;
  }

  #menu {
    display: flex;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    height: 7.5vw;
    font-size: 1.2em;
  }

  .syv {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/7aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .tvekamp {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/tvekamp_ikon.jpg);
    background-size: contain;
  }

  .tikamp {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/10aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .fangerne {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/_ikon.jpg);
    background-size: contain;
  }

  .medarbejder {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/Aretsmedarbejder_ikon.jpg);
    background-size: contain;
  }

  .casino {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/Casino_ikon.jpg);
    background-size: contain;
  }

  .stratego {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/Stratego_ikon.jpg);
    background-size: contain;
  }

  .race {
    height: 10.5vw;
    width: 10.5vw;
    background-image: url(img/ikoner/Adventurerace_ikon.jpg);
    background-size: contain;
  }

  figure {
    height: 10.5vw;
    width: 10.5vw;
    margin-top: 2vw;
    font-size: 1.3em;
    margin-left: 3vw;
  }

  .slideshow-container {
    height: 28vw;
  }

  .slideshow-container img {
    height: 28vw;
  }

  #tekst_forside1 {
    height: 28vw;
  }

  #ikoner {
    margin-right: 4vw;
  }
}

@media only screen and (min-width: 1150px) {
  #ikoner .et a {
    margin-top: 1vw;
  }

  #ikoner a {
    margin-bottom: 1vw;
  }

  .slideshow-container {
    height: 28vw;
  }

  .slideshow-container img {
    height: 28vw;
  }

  #tekst_forside1 {
    height: 28vw;
  }

  #ikoner {
    margin-right: 4vw;
  }

  #billedemtekst_forside p {
    padding-left: 4vw;
    font-size: 1.4em;
  }

  .tekst_forside {
    top: 21vw;
    padding-right: 25px;
    height: 7vw;
    width: 38vw;
  }
}

@media only screen and (min-width: 1200px) {
  .slideshow-container {
    width: 55vw;
    height: 28vw;
  }

  #tekst_forside1 .velkommen {
    margin-top: 1vw;
  }

  hr {
    margin-left: 7vw;
    margin-right: 21vw;
  }

  body #billedemtekst_forside p {
    padding-left: 4vw;
    font-size: 1.4em;
    padding-right: 5vw;
  }

  body .tekst_forside {
    top: 23vw;
    padding-right: 25px;
    height: 5vw;
    padding-top: 0.6vw;
  }

  .skriv_header {
    height: 2.8vw;
    width: 8vw;
    margin-top: 0.6vw;
  }

  .slideshow-container img {
    width: 55vw;
    height: 28vw;
  }

  #tekst_forside1 {
    width: 45vw;
    height: 28vw;
  }

  #menu {
    display: flex;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    height: 6.5vw;
  }

  #menu .logo {
    height: 3vw;
    width: 10vw;
  }

  .syv {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/7aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .tvekamp {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/tvekamp_ikon.jpg);
    background-size: contain;
  }

  .tikamp {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/10aktiviteter_ikon.jpg);
    background-size: contain;
  }

  .fangerne {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/_ikon.jpg);
    background-size: contain;
  }

  .medarbejder {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/Aretsmedarbejder_ikon.jpg);
    background-size: contain;
  }

  .casino {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/Casino_ikon.jpg);
    background-size: contain;
  }

  .stratego {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/Stratego_ikon.jpg);
    background-size: contain;
  }

  .race {
    height: 10vw;
    width: 10vw;
    background-image: url(img/ikoner/Adventurerace_ikon.jpg);
    background-size: contain;
  }

  figure {
    height: 10vw;
    width: 10vw;
    margin-top: 2vw;
    font-size: 1.3em;
    margin-left: 3vw;
  }

  #ikoner a {
    margin-top: 1vw;
  }

  /*
    #aktiv_forside h1 {
        margin-left: 7vw
    }*/

  .some .face {
    width: 3vw;
    height: 3vw;
  }

  .some .insta {
    width: 3vw;
    height: 3vw;
  }

  .some {
    width: 7vw;
  }
}

@media only screen and (min-width: 1300px) {
  body #billedemtekst_forside p {
    padding-left: 4vw;
    font-size: 1.4em;
  }

  body .tekst_forside {
    top: 23vw;
    padding-right: 25px;
    height: 5vw;
    width: 39vw;
  }

  .slideshow-container {
    width: 55vw;
    height: 28vw;
  }

  .tekst_forside p {
    font-size: 1.8em;
  }

  .tekst_forside {
    height: 7vw;
    width: 46.5vw;
    top: 29vw;
  }

  .slideshow-container img {
    width: 55vw;
    height: 28vw;
  }

  #tekst_forside1 {
    width: 45vw;
    height: 28vw;
  }
}
