#splash_om {
  height: 40vw;
  width: 100%;
  background-image: url(img/medarbejdere.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
}

#tekst_om,
#tekst_lokal {
  margin-top: 8vw;
}

h1 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 1.2em;
  padding-left: 10vw;
  padding-top: 3vw;
  margin-bottom: 2vw;
}

h2 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 1em;
  padding-left: 10vw;
  padding-top: 5vw;
  margin-bottom: 2vw;
}

#tekst_lokal h2 {
  padding-top: 1.5vw;
  margin-bottom: 0vw;
}

#tekst_om p,
#tekst_lokal p {
  padding-left: 10vw;
  padding-right: 8vw;

  max-width: 90vw;
  margin-bottom: 5vw;
}

footer {
  margin-top: 5vw;
}

footer p {
  padding-left: 10vw;
}

li {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-right: 8vw;
  padding-top: 1vw;
}

ul {
  margin-left: 3vw;
}

#samarbejde {
  display: flex;
  flex-direction: column;
}

.sam1 {
  display: flex;
  justify-content: space-between;
}

.sam2 {
  display: flex;
  justify-content: space-between;
}

.sam3 {
  display: flex;

  justify-content: space-between;
}

.sam4 {
  display: flex;
  justify-content: space-between;
}

#samarbejde #sam_logoer {
  padding-top: 2vw;
}

#samarbejde div {
  padding: 25px;
}

.garder {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/garder.png);
}

.sos {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/sos.png);
}

.teamd {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/teamdream.png);
}

.bauta {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/bauta.png);
}

.kastrup {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/kastrup.png);
}

.bryde {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/bryde.png);
}

.bymose {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/bymose.png);
}

.pharma {
  height: 20vw;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/pharma.png);
}

#sam_logoer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 650px) {
  #splash_om {
    height: 35vw;
  }

  #tekst_om p,
  #tekst_lokal p {
    padding-left: 10vw;
    padding-right: 8vw;

    max-width: 90vw;
    margin-bottom: 0vw;
  }

  #tekst_om,
  #tekst_lokal {
    margin-top: 8vw;
  }

  p {
    max-width: 80vw;
  }

  #samarbejde div {
    padding: 0;
  }

  #samarbejde #sam_logoer {
    padding-left: 10vw;
    padding-top: 2vw;
  }

  #samarbejde .sam1 {
    padding-right: 10vw;
  }

  #samarbejde .sam2 {
    padding-right: 10vw;
  }

  #samarbejde .sam3 {
    padding-right: 10vw;
  }

  #samarbejde .sam4 {
    padding-right: 10vw;
  }
}

@media only screen and (min-width: 750px) {
  #splash_om h1 {
    margin-bottom: 1vw;
  }

  #tekst_om,
  #tekst_lokal {
    margin-top: 3vw;
  }

  .garder {
    height: 12vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/garder.png);
  }

  .sos {
    height: 12vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/sos.png);
  }

  .bauta {
    height: 12vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/bauta.png);
  }

  .kastrup {
    height: 12vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/kastrup.png);
  }

  .bryde {
    height: 12vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/bryde.png);
  }

  .bymose {
    height: 12vw;
    width: 20vw;
    margin-top: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/bymose.png);
  }

  .pharma {
    height: 12vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/pharma.png);
  }

  .teamd {
    height: 12vw;
    width: 20vw;
    background-image: url(img/teamdream.png);
  }

  #samarbejde .sam1 {
    padding-right: 30vw;
  }

  #samarbejde .sam2 {
    padding-right: 30vw;
  }

  #samarbejde .sam3 {
    padding-right: 30vw;
  }

  #samarbejde .sam4 {
    padding-right: 30vw;
  }
}

@media only screen and (min-width: 850px) {
  #splash_om h1 {
    padding-top: 3vw;
  }
}

@media only screen and (min-width: 1100px) {
  #splash_om {
    height: 30vw;
  }

  .garder {
    height: 10vw;
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/garder.png);
  }

  .sos {
    height: 10vw;
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/sos.png);
  }

  .bauta {
    height: 10vw;
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/bauta.png);
  }

  .kastrup {
    height: 10vw;
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/kastrup.png);
  }

  .bryde {
    height: 10vw;
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/bryde.png);
  }

  .bymose {
    height: 10vw;
    width: 15vw;
    margin-top: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/bymose.png);
  }

  .pharma {
    height: 10vw;
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/pharma.png);
  }

  .teamd {
    height: 10vw;
    width: 15vw;
    background-image: url(img/teamdream.png);
  }

  #samarbejde .sam1 {
    padding-right: 45vw;
  }

  #samarbejde .sam2 {
    padding-right: 45vw;
  }

  #samarbejde .sam3 {
    padding-right: 45vw;
  }

  #samarbejde .sam4 {
    padding-right: 45vw;
  }

  #tekst_om p {
    max-width: 70vw;
  }
}
