#kontaktformular {
    padding-top: 6vw;
    padding-bottom: 6vw;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    width: 100vw;
    background-color: #2878B1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 0.7em;
    padding-left: 8vw;
}

#kontaktformular h2 {
    margin-bottom: 3vw;
    font-size: 1em;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 550;

}

#captcha_code {
    height: 5vw;
    width: 10vw;
}

.inputfield {
    width: 4vw;
    display: inline;
}

.label {
    display: inline;
}

#lokation {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 80vw;
    height: 8vw;
    background-color: white;
}

input {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 8vw;
    width: 80vw;
    border-radius: 3px;
    border-style: none;
}

textarea {
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 80vw;
    height: 30vw;
    border:
}

#errorPop {
    width: 100vw;
    height: 200vh;
    position: fixed;
    justify-content: center;
    align-items: center;

}

.errorcontent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: whitesmoke;
}

@media only screen and (min-width:550px) {
    #kontaktformular {
        font-size: 1em;
    }

}


@media only screen and (min-width:650px) {
    #kontaktformular {
        font-size: 1em;

    }

    input {
        width: 70vw;
        height: 6vw;
    }

    #lokation {
        width: 70vw;
        height: 6vw;
        cursor: pointer;
    }

    #kontaktformular > form > input[type=date]:nth-child(14) {
        cursor: pointer;
    }

    #kontaktformular > form > input[type=submit]:nth-child(27) {
        cursor: pointer;
        font-size: 1em;
    }

    #kontaktformular > form > input[type=submit]:nth-child(27):hover {
        background-color: #d8d8d8;
    }

    textarea {
        width: 70vw;
    }

}

@media only screen and (min-width:800px) {
    #kontaktformular {
        font-size: 1em;

    }

    input {
        width: 60vw;
        height: 5vw;
    }

    #lokation {
        width: 60vw;
        height: 5vw;
    }

    textarea {
        width: 60vw;
    }

}

@media only screen and (min-width:1000px) {
    #kontaktformular {
        font-size: 1em;
        justify-content: flex-start;
        padding-left: 10vw;

    }

    input {
        width: 50vw;
        height: 3vw;
    }

    #lokation {
        width: 50vw;
        height: 3vw;
    }

    textarea {
        width: 50vw;
        height: 10vw
    }

}
