#splash_lokaliteter {

    height: 40vw;
    width: 100%;
    background-image: url(img/garderhojforside.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

#tekst_om,
#tekst_lokal {
    margin-top: 10vw;
}

h1 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 1.2em;
    padding-left: 10vw;
    margin-bottom: 2vw;
    padding-top: 3vw;
}

h2 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 1em;
    padding-left: 10vw;
    padding-top: 5vw;
    margin-bottom: 2vw;
}


#tekst_lokal h2 {
    padding-top: 1.5vw;
    margin-bottom: 0vw;
}



#tekst_om p,
#tekst_lokal p {
    padding-left: 10vw;
    padding-right: 8vw;

    max-width: 90vw;
    margin-bottom: 5vw;

}

footer {
    margin-top: 5vw;
}

footer p {
    padding-left: 10vw;
}

li {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-right: 8vw;
    padding-top: 1vw;

}

ul {
    margin-left: 3vw;
}



@media only screen and (min-width:650px) {

    #splash_lokaliteter {
        height: 35vw;
    }


    p {
        max-width: 80vw;
    }


}


@media only screen and (min-width:900px) {

    #tekst_lokal {
        margin-top: 3vw;
    }


}



@media only screen and (min-width:1100px) {

    #splash_lokaliteter {
        height: 30vw;
    }

    #tekst_lokal p {
        margin-bottom: 2vw;
    }


}

@media only screen and (min-width:1250px) {


    #tekst_lokal p {
        margin-bottom: 1vw;
    }


}
